ul.menu-list{
    margin: 0;
    padding: 0;
}

ul.menu-list>li a {
    color: #000;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

ul.menu-list>li a:hover {
    background-color: #555;
    color: white;
}

ul.menu-list>li.active {
    background-color: #4CAF50;
    color: white;
}