<!-- <a ng-click="$ctrl.previous()">previous</a>
<a ng-click="$ctrl.next()">next</a> -->
<hr/>
<div class="animate-switch-container" ng-switch on="$ctrl.selection" ng-mousedown="$ctrl.next()">
    <div class="animate-switch" ng-switch-when="0">
        <p><img src="assets/electron2.svg"></p>
        <h2>by Github</h2>
        <h4>Cross platform apps with Javascript, HTML and CSS</h4>
        <p><img src="https://electron.atom.io/images/apps/atom-icon-64.png"> Atom</p>
        <p><img src="https://electron.atom.io/images/apps/visual-studio-code-icon-64.png"> Visual Studio Code</p>
        <p><img src="https://electron.atom.io/images/apps/gitkraken-icon-64.png"> Gitkraken</p>
        <p><img src="https://electron.atom.io/images/apps/postman-icon-64.png"> Postman</p>
    </div>
    <div class="animate-switch" ng-switch-when="1">
        <h2>the simple explanation</h2>
        <img src="assets/components.png" width="100%">
    </div>
    <div class="animate-switch" ng-switch-when="2">
        <h2>package.json</h2>
        <pre nag-prism source="{{$ctrl.packagejson}}" class="language-json"></pre>
    </div>
    <div class="animate-switch" ng-switch-when="3">
        <h2>main.js</h2>
        <pre nag-prism source="{{$ctrl.mainjs}}" class="language-js"></pre>
    </div>
    <div class="animate-switch" ng-switch-when="4">
        <h2>Node.js APIs available everywhere</h2>
        <pre nag-prism source="const fs = require('fs')
const path = require('path')
let mainJsPath = path.join(__dirname, '../main.js')
var mainJsContent = fs.readFileSync(mainJsPath);
let packageJsonPath = path.join(__dirname, '../package.json')
var packageJsonContent = fs.readFileSync(packageJsonPath);" class="language-js"></pre>
    </div>
    <div class="animate-switch" ng-switch-when="5">
        <h2>Build</h2>
        <pre nag-prism source="electron-packager . --overwrite --asar=true --platform=win32 --arch=x64 --icon=assets/icons/win/icon.ico --prune=true --out=release-builds
                    --version-string.CompanyName=CE --version-string.FileDescription=CE --version-string.ProductName=\"Test\"" class="language-batch"></pre>
    </div>
    <div class="animate-switch" ng-switch-default>default</div>
</div>